.loginForm {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.loginForm label {
  margin-top: 10px;
}

.marginTop {
  margin-top: 10px;
}

.marginLeft {
  margin-left: 10px;
}

.submit {
  margin-top: 20px;
  width: 100px;
  height: 25px;
}
.formError {
  color: red;
}
.formError input,
.formError textarea,
.formError select {
  border-color: red;
}

/* for input number to remove arrows */
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th {
  text-transform: capitalize;
}
th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead tr {
  background-color: #fefefe;
}
.redColor {
  color: red;
}

.greenColor {
  color: green;
}

.pointer {
  cursor: pointer;
}

[data-title] {
  position: relative;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: red;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
  z-index: 999;
}
[data-title]:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid red;
}

.wrapTable {
  height: 33rem;
}
